body {
  font-style: normal;
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/arvo/arvo-v14-latin-regular.woff2') format('woff2'),url('fonts-files/arvo/arvo-v14-latin-regular.woff') format('woff');
  font-display: swap;
}
