body {
  font-style: normal;
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/indie-flower/indie-flower-v12-latin-regular.woff2') format('woff2'),url('fonts-files/indie-flower/indie-flower-v12-latin-regular.woff') format('woff');
  font-display: swap;
}
