body {
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/archivo-black/archivo-black-v16-latin-regular.woff2') format('woff2'),url('fonts-files/archivo-black/archivo-black-v16-latin-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/archivo-black/archivo-black-v16-latin-ext-regular.woff2') format('woff2'),url('fonts-files/archivo-black/archivo-black-v16-latin-ext-regular.woff') format('woff');
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
