body {
  font-style: normal;
}

@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/lobster-two/lobster-two-v13-latin-regular.woff2') format('woff2'),url('fonts-files/lobster-two/lobster-two-v13-latin-regular.woff') format('woff');
  font-display: swap;
}
