.header-inner > div {
  float: left;
  width: auto;
}

.site-name-slogan {
  display: inline-block;
  margin: 16px 0 0 16px;
}

.site-name,
.site-name a,
.site-slogan {
  text-transform: uppercase;
  line-height: 140%;
}

.site-name {
  margin: 0;
  font-size: 36px;
}

.site-slogan {
  font-size: 24px;
}

.site-logo {
  margin-top: 4px;
}

.site-name-link {
  display: block;
  width: 100%;
}
