.main-container-inner {
  color: #131937;
}

#copyright p,
#copyright a {
  color: #eaecf8;
}

#main-container .main-box > div {
  background-color: #eaecf8;
}

.w3-theme-l5 {
  color: #131937 !important;
  background-color: #f3f4fb !important;
}

.w3-theme-l4 {
  color: #131937 !important;
  background-color: #eaecf8!important;
}

.w3-theme-l3 {
  color: #131937 !important;
  background-color: #b1b8e3 !important;
}

.w3-theme-l2 {
  color: #f7f7fc !important;
  background-color: #8995d6 !important;
}

.w3-theme-l1 {
  color: #f7f7fc !important;
  background-color: #6271c8 !important;
}

.w3-theme-d1 {
  color: #f7f7fc !important;
  background-color: #3949a3 !important;
}

.w3-theme-d2 {
  color: #f7f7fc !important;
  background-color: #334191 !important;
}

.w3-theme-d3 {
  color: #f7f7fc !important;
  background-color: #1c2450 !important;
}

.w3-theme-d4 {
  color: #f7f7fc !important;
  background-color: #131937 !important;
}

.w3-theme-d5 {
  color: #f7f7fc !important;
  background-color: #0a0d1e !important;
}

.w3-theme-light {
  color: #131937 !important;
  background-color: #f3f4fb !important;
}

.w3-theme-dark {
  color: #f7f7fc !important;
  background-color: #0a0d1e !important;
}

.w3-theme-action {
  color: #f7f7fc !important;
  background-color: #0a0d1e !important;
}

.w3-theme,
.close-nav,
.mobile-nav {
  color: #f7f7fc !important;
  background-color: #3f51b5 !important;
}

.w3-text-theme {
  color: #3f51b5 !important;
}

.w3-border-theme {
  border-color: #3f51b5 !important;
}

.w3-hover-theme:hover {
  color: #f7f7fc !important;
  background-color: #3f51b5 !important;
}

.w3-hover-text-theme:hover {
  color: #3f51b5 !important;
}

.w3-hover-border-theme:hover {
  border-color: #3f51b5 !important;
}

/* custom work */
.w3-active-pager {
  background-color: #f3f4fb !important;
}

.w3-hover-over:hover,
.w3-button:hover {
  background-color: #d8dcf1 !important;
  color: #0a0d1e !important;
}

/* button animation  */
@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #3f51b5;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #3f51b5;
  }

  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }

}

/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #3f51b5;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #3f51b5;
    border-right-color: #3f51b5;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #3f51b5;
    border-right-color: #3f51b5;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #3f51b5;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #3f51b5;
    border-left-color: #3f51b5;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #3f51b5;
    border-left-color: #3f51b5;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

#footer-container .footer-box>div.animate-border:hover {
  box-shadow: 0 25px 57px 0 rgba(255, 255, 255, .30);
}
