h1,
h2,
h3,
.big-shoulders-stencil-display {
  font-family: 'Big Shoulders Stencil Display', cursive;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 700;
}
h1 {
  font-size: 46px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}
